extends layout

-function prettyDate(datetime) {
    -let d = new Date(datetime)
    -return ('0' + d.getDate()).slice(-2)+'/'+('0' + (d.getMonth() + 1)).slice(-2)+'/'+d.getFullYear()
-}

block content 
    div.container-fluid.mt-3
        div.row
            div.col-2
                h2 Filter
                hr
                if active == 'fix Transaction Demo'
                    form(action="/functions/getTransaction/filter", method="post")
                        div.filter-panel
                            each prop, elemName in column
                                if prop.dataType == "bigint" || prop.dataType == 'int'|| prop.dataType == 'money'
                                    div.row.mb-3
                                        div.col
                                            label.form-label(for=`${elemName}`)= elemName
                                            input(type="number", name=`${elemName}`, id=`${elemName}`).form-control
                                if prop.dataType == "varchar"
                                    div.row.mb-3
                                        div.col
                                            label.form-label(for=`${elemName}`)= elemName
                                            input(type="text", name=`${elemName}`, id=`${elemName}`).form-control
                                if prop.dataType == "datetime"
                                    div.row.mb-3
                                        div.col
                                            label.form-label(for=`${elemName}`)= elemName
                                            input(type="datetime-local", name=`${elemName}`, id=`${elemName}`).form-control
                        div.row.mb-3
                            div.col.d-flex.justify-content-center
                                input(type="submit", value="filter").btn.btn-block.btn-success
                            div.col.d-flex.justify-content-center
                                input(type="reset", value="clear").btn.btn-blick.btn-primary
            div.col-10.bg-light.data-table
                h2= `Table: ${title}`
                div.table-responsive
                    table.table
                        thead.table-info.sticky-top
                            tr
                                each datatype, col in column
                                    th(class=`${datatype}`)= col
                        tbody
                            each row in data
                                tr
                                    each datatype, col in column
                                        if datatype == 'datetime'
                                           td(class=`${datatype.dataType}`, weight=`${datatype.maxLength == 'null' ? 25:datatype.maxLength}pt`) #{prettyDate(row[col])}
                                        else
                                           td(class=`${datatype.dataType}`, weight=`${datatype.maxLength == 'null' ? 25:datatype.maxLength}pt`)= row[col]

block custom-script
    script.
        $(document).ready(function () {
            $('input[type=reset]').click(function () {
                window.location.reload();
            });
            $('form').submit(function (e) {
                e.preventDefault();
                let data = {};
                for (let i = 0;i < $(this).find('input:not(.btn)').length;i++) {
                    let id = $($(this).find('input:not(.btn)')[i]).attr('id');
                    let val = $($(this).find('input:not(.btn)')[i]).val();
                    data[`${id}`] = val;
                }

                postData($(this).attr('action'), data)
                .then(async (res) => {
                    $('table > tbody').html('');
                    let newTable = "";
                    for (let i = 0;i < res.length;i++) {
                        newTable += `<tr>\r\n`;
                        for (let ii = 0;ii < Object.keys(res[i]).length;ii++) {
                            let values = Object.values(res[i]);
                            newTable += `<td>${values[ii]}</td>\r\n\t`;
                        }
                        newTable += `</tr>\r\n`; 
                    }

                    $('table > tbody').html(newTable);
                })
                .catch(err => {
                    console.log(err);
                });
            });
        });
                