extends layout

block content 
    -function prettyDate(datetime) {
        -if (datetime instanceof Date) {
            -let d = new Date(datetime)
            -return `${('0' + d.getDate()).slice(-2)}/${('0' + (d.getMonth() + 1)).slice(-2)}/${d.getFullYear()} ${('0' + d.getHours()).slice(-2)}:${('0' + d.getMinutes()).slice(-2)}:${('0' + d.getSeconds()).slice(-2)}`
        -} else {
            -return `${datetime == null ? '':datetime}`;
        -}
    -}
    div.container-fluid.mt-3
        div.row
            div.col-2
                h2 Filter
                hr
                if active == 'fix Transaction Demo'
                    form(action="/functions/getTransaction/filter", method="post")
                        div.filter-panel
                            each prop, elemName in filterColumn
                                if prop.dataType == "bigint" || prop.dataType == 'int'|| prop.dataType == 'money' || prop.dataType == 'numberic'
                                    div.row.mb-3
                                        div.col
                                            label.form-label(for=`${elemName}`)= elemName
                                            select(name=`sel-${elemName}`, id=`sel-${elemName}`).form-select.form-select-sm
                                                option(value='equal') equal to
                                                option(value='is_one_of') is one of
                                                option(value='is_not') is not
                                                option(value='between') between
                                                option(value='greater_than') greater than
                                                option(value='greater_than_or_equal') greater than or Equal
                                                option(value='less_than') less than
                                                option(value='less_than_or_equal') less than or Equal
                                            input(type="number", name=`${elemName}`, id=`${elemName}`).form-control.form-control-sm
                                if prop.dataType == "varchar" || prop.dataType == "string" || prop.dataType == "nvarchar"
                                    div.row.mb-3
                                        div.col
                                            label.form-label(for=`${elemName}`)= elemName
                                            select(name=`sel-${elemName}`, id=`sel-${elemName}`).form-select.form-select-sm
                                                option(value='equal') is exacly
                                                option(value='before_with') before with
                                                option(value='end_with') end with
                                                option(value='constain') constain
                                                option(value='not_contain') not constain
                                                option(value='is_one_of') is one of
                                                option(value='is_not') is not
                                            input(type="text", name=`${elemName}`, id=`${elemName}`).form-control.form-control-sm
                                if prop.dataType == "datetime"
                                    div.row.mb-3
                                        div.col
                                            label.form-label(for=`${elemName}`)= elemName
                                            select(name=`sel-${elemName}`, id=`sel-${elemName}`).form-select.form-select-sm
                                                option(value='equal') is exacly
                                                option(value='before') before...
                                                option(value='after') after...
                                                option(value='between') between
                                            input(type="datetime-local", name=`${elemName}`, id=`${elemName}`).form-control.form-control-sm
                        div.row.mb-3
                            div.col.d-flex.justify-content-center
                                input(type="submit", value="filter").btn.btn-block.btn-success
                            div.col.d-flex.justify-content-center
                                input(type="reset", value="clear").btn.btn-blick.btn-primary
            div.col-10.bg-light.data-table
                h2= `Table: ${title}`
                hr
                div.table-responsive
                    table.table
                        thead.table-info
                            tr
                                each col in column
                                    th.text-center= col
                        tbody
                            each row in data
                                tr
                                    each col in column
                                        td(style='width:1px; white-space: nowrap;')= `${prettyDate(row[col])}`

block custom-script
    script.
        $(document).ready(function () {
            $('input[type=reset]').click(function () {
                window.location.reload();
            });
            $('form').submit(function (e) {
                e.preventDefault();
                let data = {};
                for (let i = 0;i < $(this).find('input:not(.btn)').length;i++) {
                    let id = $($(this).find('input:not(.btn)')[i]).attr('id');
                    let option = $($(this).find('select[name^="sel-"]')[i]).find('option:selected').val();
                    let val = $($(this).find('input:not(.btn)')[i]).val();
                    data[`${id}`] = {"value": val, "option": option};
                }

                postData($(this).attr('action'), data)
                .then(async (res) => {
                    $('table > tbody').html('');
                    let newTable = "";
                    for (let i = 0;i < res.length;i++) {
                        newTable += `<tr>\r\n`;
                        for (let ii = 0;ii < Object.keys(res[i]).length;ii++) {
                            let values = Object.values(res[i]);
                            newTable += `<td>${values[ii]}</td>\r\n\t`;
                        }
                        newTable += `</tr>\r\n`; 
                    }

                    $('table > tbody').html(newTable);
                })
                .catch(err => {
                    console.log(err);
                });
            });
        });
                